In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/gen.csv')
df

   num      gender
0    1        Male
1    2      Female
2    3   Female234
3    4   Femal-=+e
4    5     Male438
5    6  Female()87
6    7      Malee4
7    8      00Male
8    9    Male231f

In [3]:
df['gender'].value_counts()

Female()87    1
Male231f      1
Female234     1
Malee4        1
Male438       1
Female        1
Male          1
Femal-=+e     1
00Male        1
Name: gender, dtype: int64

In [4]:
df.loc[(df['gender'].str.contains("Fem")), ("gender")] = "Female"
df.loc[(df['gender'].str.contains("Mal")), ("gender")] = "Male"
df

   num  gender
0    1    Male
1    2  Female
2    3  Female
3    4  Female
4    5    Male
5    6  Female
6    7    Male
7    8    Male
8    9    Male

In [5]:
df['gender'].value_counts()

Male      5
Female    4
Name: gender, dtype: int64