In [1]:
import pandas as pd
import re

In [2]:
x = {
    'Location' : ['XYZ_Karen', 'Buruburu', 'Rongai', 'XyZ_Githurai', 'Ruai', 'xyz_Uthiru'],
    'Number' : [231,753,4563,356,903,2139]
}

dfx = pd.DataFrame(x)
dfx

       Location  Number
0     XYZ_Karen     231
1      Buruburu     753
2        Rongai    4563
3  XyZ_Githurai     356
4          Ruai     903
5    xyz_Uthiru    2139

In [3]:
dz = dfx[dfx['Location'].str.contains('^xyz[a-z]*', flags = re.I)]
dz

       Location  Number
0     XYZ_Karen     231
3  XyZ_Githurai     356
5    xyz_Uthiru    2139

In [4]:
dnoz = dfx[~dfx['Location'].str.contains('^xyz[a-z]*', flags = re.I)]
dnoz

   Location  Number
1  Buruburu     753
2    Rongai    4563
4      Ruai     903