In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
                    "A": [np.nan, 1, 2, 4],
                    "B": [3, 4, np.nan, 5],
                    "C": [7, np.nan, 2, 3]
                })
df

     A    B    C
0  NaN  3.0  7.0
1  1.0  4.0  NaN
2  2.0  NaN  2.0
3  4.0  5.0  3.0

In [3]:
df.isna()

       A      B      C
0   True  False  False
1  False  False   True
2  False   True  False
3  False  False  False

In [4]:
df.loc[df["C"].isna(), "C"] = 999
df

     A    B      C
0  NaN  3.0    7.0
1  1.0  4.0  999.0
2  2.0  NaN    2.0
3  4.0  5.0    3.0

In [5]:
df.fillna({"B": 888}, inplace=True)
df

     A      B      C
0  NaN    3.0    7.0
1  1.0    4.0  999.0
2  2.0  888.0    2.0
3  4.0    5.0    3.0

In [6]:
df.isna()

       A      B      C
0   True  False  False
1  False  False  False
2  False  False  False
3  False  False  False