In [1]:
import pandas as pd
import numpy as np

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]

hier_index = list(zip(outside,inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [3]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [4]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.786229  2.070788
   2 -1.622407 -1.121882
   3 -2.225024  0.820583
G2 1 -0.356195 -0.842722
   2 -1.997547  0.016135
   3  0.587169  0.805509

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [5]:
df.loc['G1']

          A         B
1  0.786229  2.070788
2 -1.622407 -1.121882
3 -2.225024  0.820583

In [6]:
df.loc['G1'].loc[1]

A    0.786229
B    2.070788
Name: 1, dtype: float64

In [7]:
df.index.names

FrozenList([None, None])

In [8]:
df.index.names = ['Group','Num']
df

                  A         B
Group Num
G1    1    0.786229  2.070788
      2   -1.622407 -1.121882
      3   -2.225024  0.820583
G2    1   -0.356195 -0.842722
      2   -1.997547  0.016135
      3    0.587169  0.805509

In [9]:
df.xs('G1')

            A         B
Num
1    0.786229  2.070788
2   -1.622407 -1.121882
3   -2.225024  0.820583

In [10]:
df.xs(['G1',1])

A    0.786229
B    2.070788
Name: (G1, 1), dtype: float64

In [11]:
df.xs(1,level='Num')

              A         B
Group
G1     0.786229  2.070788
G2    -0.356195 -0.842722