In [1]:
import pandas as pd
import numpy as np

l = [6,14,0]

df = pd.DataFrame(np.arange(15).reshape(5,3), columns = 'A B C'.split())

df

    A   B   C
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [2]:
df.set_index('A', inplace = True)

[df.drop(i, inplace = True, errors = 'ignore') for i in l]

df.reset_index(inplace = True)

df

    A   B   C
0   3   4   5
1   9  10  11
2  12  13  14