In [1]:
import pandas as pd
import numpy as np

columns = pd.MultiIndex.from_product([['CEO', 'CFO', 'COO'],
                                    ['M', 'F']],
                                    names=['Rank', 'Gender'])

data = np.random.randint(30,60,24).reshape(4,6)
df = pd.DataFrame(data, columns=columns)
df

Rank   CEO     CFO     COO
Gender   M   F   M   F   M   F
0       45  49  39  47  51  58
1       38  46  30  37  51  54
2       55  34  39  42  43  53
3       46  51  35  59  53  54