In [1]:
import pandas as pd

In [2]:
data = {
    'Column1': [1, 2, 3],
    'Column2': [4, 5, 6],
    'Column3': [7, 8, 9]
}

df = pd.DataFrame(data)

column_totals = df.sum()

df['Total'] = df.sum(axis="columns")

column_totals['Total'] = column_totals.sum()
df.loc['Total'] = column_totals

df

       Column1  Column2  Column3  Total
0            1        4        7     12
1            2        5        8     15
2            3        6        9     18
Total        6       15       24     45