In [1]:
import pandas as pd

In [2]:
file = pd.read_clipboard()

In [3]:
def timestamp(time):
    time = list(time.split(':'))
    if len(time) == 2:
        time.insert(0,0)
    return ((int(time[0]) * 3600) + (int(time[1]) * 60) + int(time[2])) * 25

In [4]:
file['Start'] = file['Start'].apply(timestamp)
file['End'] = file['End'].apply(timestamp)
file

   Start    End
0      0     25
1   4550   6125
2  15025  26000