In [1]:
import pandas as pd

In [2]:
df = {
    "item" : ["Book", "Bag", "Box", "Ball"],
    "count" : [3, 6, 1, 2]
}

df = pd.DataFrame(df)

df

   item  count
0  Book      3
1   Bag      6
2   Box      1
3  Ball      2

In [3]:
df['count']

0    3
1    6
2    1
3    2
Name: count, dtype: int64

In [4]:
df.count

<bound method DataFrame.count of    item  count
0  Book      3
1   Bag      6
2   Box      1
3  Ball      2>